<h4>ADD Weight</h4>

<form action="/add/weight" method="POST">
<div>Time: <input type="text" name="time"> </div>
<div>Weight: <input type="text" name="weight"></div>
<div><input type="submit" value="Add Weight"></div>

</form>