<h2>ADD Training</h2>

<form action="/add/training" method="POST">
<div>Start: <input type="text" name="start"> </div>
<div>Stop: <input type="text" name="stop"></div>
<div>Description: <input type="text" name="description"></div>
<div><input type="submit" value="Add Training"></div>

</form>