<h1>MyTD</h1>
<p>MyTD , short for My Training Diary, is a platform that can facilitate for users to stay in shape. On the platform, users can be able to log their training activities and weights, and, they can review this data and follow their progress. This will hopefully not only motivate users to keep training and to stay in shape, but the collected data can also be used for analyzing and finding patterns for illness (e.g. risk of training too much, risk of underweight, etc.) and to warn users about the illnesses before they are hurt.</p>
